
services:
    - docker

before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --remote 
    - docker build -t buerro .

script:
    - docker exec -it buerro make test

git:
    submodules: false
